<?xml version="1.0"?>
<launch>
    <!-- Downsample pub:/filtered_points -->
    <include file="$(find mypoints_downsampler)/launch/points_downsample.launch">
        <arg name="node_name" default="voxel_grid_filter" />
        <arg name="points_topic" default="/top_velodyne/points_raw" />
        <arg name="output_log" default="false" />
        <arg name="measurement_range" default="80" />
        <arg name="min_measurement_range" default="5" />
        <arg name="voxel_leaf_size" default="0.1"/>
    </include>

    <!-- Localize sub:/filtered_points -->
    <include file="$(find aichallenge_bringup)/launch/_ndt_matching.launch">
        <arg name="method_type" default="2"/>
        <arg name="use_odom" default="false"/>
        <arg name="imu_upside_down" default="false"/>
        <arg name="imu_topic" default="/imu_raw"/>
        <arg name="get_height" default="true"/>
    </include>

    <!-- vision -->
    <include file="$(find aichallenge_bringup)/launch/_vision_yolo3_detect.launch">
        <arg name="gpu_device_id" default="0"/>  
        <arg name="score_threshold" default="0.3"/>
        <arg name="nms_threshold" default="0.450"/>
    </include>

    <!-- concat top left right velodyns -->
    <include file="$(find aichallenge_bringup)/launch/_points_concat_filter.launch">
        <arg name="input_topics" default="[/filtered_points, /left_velodyne/points_raw, /right_velodyne/points_raw]" />
        <arg name="output_topic" default="/points_concat_raw" />
        <arg name="output_frame_id" default="top_velodyne_link" />
    </include>

    <!-- down sample -->
    <include file="$(find mypoints_downsampler)/launch/points_downsample.launch">
        <arg name="node_name" default="voxel_grid_filter2" />
        <arg name="points_topic" default="/points_concat_raw" />
        <arg name="output_log" default="false" />
        <arg name="measurement_range" default="80" />
        <arg name="min_measurement_range" default="4" />
        <arg name="voxel_leaf_size" default="0.01"/>
        <arg name="pub_name" default="/points_concat"/>
    </include>

    <!-- ground filter -->
    <include file="$(find points_preprocessor)/launch/compare_map_filter.launch">
        <arg name="input_point_topic" default="/points_concat" />
        <arg name="input_map_topic" default="/points_map" />
        <arg name="output_match_topic" default="/points_ground" />
        <arg name="output_unmatch_topic" default="/points_no_ground" />
    </include>

    <!-- points densifier -->
    <include file="$(find points_densifier)/launch/points_densifier.launch">
        <arg name="input_topic" default="/points_no_ground" />
        <arg name="output_topic" default="/points_no_ground_densified" />
        <arg name="history_num" default="4" />
    </include>

    <!-- pub:points_fused -->
    <include file="$(find pcl_in_bbox)/launch/pcl_in_bbox.launch">
      <arg name="points_src" default="/points_no_ground_densified" /> <!-- PointCloud source topic-->
      <arg name="image_detection_src" default="/detection/image_detector/objects" /> <!-- Raw Image source topic to be rectified-->
      <arg name="camera_info_src" default="/front_camera/camera_info" /> <!-- CameraInfo source topic-->
    </include>

    <!-- points densifier2 -->
    <include file="$(find points_densifier)/launch/points_densifier.launch">
        <arg name="node_name" default="points_densifier2" />
        <arg name="input_topic" default="/points_fused" />
        <arg name="output_topic" default="/points_fused_densified" />
        <arg name="history_num" default="3" />
    </include>

    <!-- cocat ground and fused -->
    <include file="$(find aichallenge_bringup)/launch/_points_concat_filter.launch">
        <arg name="input_topics" default="[/points_no_ground, /points_fused_densified]" />
        <arg name="output_topic" default="/points_no_gorund_fused" />
        <arg name="output_frame_id" default="top_velodyne_link" />
        <arg name="node_name" default="points_concat_filter2" />
    </include>

    <!-- cluster pc in bbox from yolo -->
    <include file="$(find aichallenge_bringup)/launch/_lidar_euclidean_cluster_detect.launch" >
        <arg name="points_node" default="/points_no_gorund_fused" />
        <arg name="use_gpu" default="gpu" />
        <arg name="remove_ground" default="false" />
        <arg name="downsample_cloud" default="false" />
        <arg name="cluster_size_min" default="5" />
        <arg name="cluster_size_max" default="1000" />
        <arg name="sync" default="false" />
        <arg name="use_diffnormals" default="false" />
        <arg name="pose_estimation" default="true" />
        <arg name="clip_min_height" default="-2" />
        <arg name="clip_max_height" default="1" />

        <arg name="keep_lanes" default="false" />
        <arg name="use_vector_map" default="false" />
        <arg name="output_frame" default="top_velodyne_link" />
        <arg name="remove_points_upto" default="0.0" />
        <arg name="use_multiple_thres" default="false"/>
    </include>


    <!-- fusion -->
    <include file="$(find aichallenge_bringup)/launch/_range_vision_fusion.launch">
        <arg name="detected_objects_range" default="/detection/lidar_detector/concat"/>
        <arg name="detected_objects_vision" default="/detection/image_detector/objects"/>
        <arg name="camera_info_src" default="/front_camera/camera_info"/>
        <arg name="min_car_dimensions" default="[3,2,2]"/>
        <arg name="min_person_dimensions" default="[1,2,1]"/>
        <arg name="min_truck_dimensions" default="[4,2,2]"/>
        <arg name="sync_topics" default="false"/>
        <arg name="overlap_threshold" default="0.3"/>
        <arg name="use_vector_map" default="true"/>
        <arg name="namespace" default="/detection/fusion_tools"/>
    </include>

    <!-- Object tracker -->
    <include file="$(find aichallenge_bringup)/launch/_imm_ukf_pda_track_lanelet2.launch">
        <arg name="namespace" default="/detection/object_tracker"/>
        <arg name="tracker_input_topic" default="/detection/fusion_tools/objects"/>
        <!-- <arg name="tracker_input_topic" default="/detection/lidar_detector/objects"/> -->
        <arg name="tracker_output_topic" default="/detection/object_tracker/objects" />

        <arg name="tracking_frame" default="/world" />
        <arg name="gating_threshold" default="9.22" />
        <arg name="gate_probability" default="0.99" />
        <arg name="detection_probability" default="0.9" />
        <arg name="life_time_threshold" default="8" />
        <!-- <arg name="static_velocity_threshold" default="0.5" />  -->
        <arg name="static_velocity_threshold" default="0.5" /> 
        <arg name="static_num_history_threshold" default="3" />
        <arg name="prevent_explosion_threshold" default="1000" />
        <arg name="merge_distance_threshold" default="0.5"/>
        <arg name="use_sukf" default="false" />
        <!-- Vectormap -->
        <arg name="use_map_info" default="true"/>
        <arg name="lane_direction_chi_threshold" default="2.71" />
        <arg name="nearest_lane_distance_threshold" default="1.0" />
        <arg name="map_frame" default="/map" />
    </include>

    <!-- naieve motion predictor -->
    <include file="$(find aichallenge_bringup)/launch/_naive_motion_predict.launch">
        <arg name="interval_sec" default="0.2"/>
        <arg name="num_prediction" default="30"/>
        <arg name="sensor_height" default="2.0"/>
        <arg name="filter_out_close_object_threshold" default="1.5"/>
        <!-- <arg name="input_topic" default="detection/lidar_detector/objects"/> -->
        <arg name="input_topic" default="/detection/object_tracker/objects"/>
        <!-- TODO etectedObjectAray maybe fusion or lidar object detection is required -->
        <remap from="/detection/objects" to="$(arg input_topic)"/>
    </include>
    <!-- ============== END of point cloud processing ===================== -->

    <!-- PLANNING ...................................................................................... -->
    <!-- cost map -->
    <include file="$(find costmap_generator)/launch/costmap_generator_lanelet2.launch">
        <arg name="lidar_frame" default="top_velodyne_link"/>
        <!-- node parameters -->
        <!-- <arg name="objects_input" default="/detection/fusion_tools/objects" /> -->
        <arg name="objects_input" default="/prediction/motion_predictor/objects" />
        <arg name="points_input" default="/points_no_ground_densified" />
        <arg name="use_objects_box" default="true" />
        <arg name="use_objects_convex_hull" default="false" />
        <arg name="maximum_lidar_height_thres" default="0.3" />
        <arg name="minimum_lidar_height_thres" default="-2.2" />
        <arg name="expand_polygon_size" default="1.1" />
        <arg name="grid_resolution" default="0.4" />
        <arg name="grid_length_x" default="50" />
        <arg name="grid_length_y" default="20" />
    </include>
    <!-- Astar planning -->
    <include file="$(find waypoint_planner)/launch/astar_avoid.launch">
        <arg name="enable_avoidance" default="true" />
        <arg name="avoid_start_velocity" default="11.0" />
        <arg name="search_waypoints_delta" default="4" />
        <arg name="search_waypoints_size" default="100" />
        <arg name="avoid_waypoints_velocity" default="20.0" />
        <arg name="obstacle_threshold" default="100" />
    </include>
    <!-- Emergent stop, Final Control -->
    <include file="$(find lane_stopper)/launch/lane_stopper.launch">
        <arg name="objects_topic" default="/detection/lidar_detector/objects" />
        <arg name="current_pose_topic" default="/current_pose" />
        <arg name="stop_distance" default="38.0" />  <!-- when stop at the intersection -->
        <arg name="accel_divide_gain" default="10.0" />
        <arg name="accel_limit" default="1.0" />
        <arg name="deccel_limit" default="-1.0" />
        <arg name="lowpass_gain_accl" default="0.0" />
        <arg name="lowpass_gain_steer" default="0.1" />

        <arg name="lateral_accel_limit" default="20.0" />
        <arg name="lateral_jerk_limit" default="5.0" />
        <arg name="loop_rate" default="10.0" /> <!--Hz = 1 / loop_rate-->
        
        <arg name="initial_wait_time" default="20.0" /> <!--seconds-->
        <arg name="intersection_force_accel" default="1.0" />
    </include>
    
    <!-- BASIC LANE FOLLOW RULES AND WAYPOINTS ....................................................... -->
    <include file="$(find lane_planner)/launch/lane_rule_option.launch"/>
    <include file="$(find lane_planner)/launch/lane_select.launch"/>
    <node pkg="lane_planner" type="lane_stop" name="lane_stop"/>
    <include file="$(find autoware_connector)/launch/vel_pose_connect.launch">
        <arg name="topic_pose_stamped" default="/ndt_pose"/>
        <arg name="topic_twist_stamped" default="/estimate_twist"/>
    </include>
    <include file="$(find waypoint_maker)/launch/waypoint_loader.launch">
        <arg name="multi_lane_csv" default="$(find aichallenge_bringup)/data/saved_waypoints.csv"/>
        <arg name="load_csv" default="true"/>
        <arg name="replanning_mode" default="true" />
        <arg name="accel_limit" default="5.0" />
        <arg name="decel_limit" default="5.0" />
        <arg name="velocity_max" default="30.0" />
    </include>
    <!-- <include file="$(find waypoint_planner)/launch/velocity_set_option.launch"/> -->
    <include file="$(find waypoint_planner)/launch/velocity_set_lanelet2.launch">
        <arg name="stop_distance_obstacle" default="15.0" />
    </include>

    <!-- CONTROL (FOLLOW TRAJECTORY) .............................................................................. -->
    <!-- <include file="$(find pure_pursuit)/launch/pure_pursuit.launch">
        <arg name="publishes_for_steering_robot" default="true"/>
        <arg name="lookahead_ratio" default="2.0"/>
        <arg name="minimum_lookahead_distance" default="3.0"/>
    </include>
    <node type="rosservice" name="pure_pursuit_log_killer" pkg="rosservice" args="call /pure_pursuit/set_logger_level ros.pure_pursuit ERROR" /> -->
    <!-- fast pure persuit -->
    <include file="$(find fast_pure_pursuit)/launch/fast_pure_pursuit.launch">
        <arg name="publishes_for_steering_robot" default="true"/>
        <arg name="lookahead_ratio" default="2.0"/>
        <arg name="minimum_lookahead_distance" default="3.0"/>
        <arg name="loop_rate" default="10.0" /> 
    </include>
    <node type="rosservice" name="fast_pure_pursuit_log_killer" pkg="rosservice" args="call /fast_pure_pursuit/set_logger_level ros.fast_pure_pursuit ERROR" />

    <!-- rviz: TODO remove these lines below before submitting the online evaluator -->
    <include file="$(find aichallenge_bringup)/launch/_visualizer.launch"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find aichallenge_bringup)/data/aichallenge.rviz" />
    
    <node type="rosservice" name="costmap_generator_lanelet2_log_killer" pkg="rosservice" args="call /costmap_generator_lanelet2/set_logger_level ros.costmap_generator WARN" />
    <node type="rosservice" name="lane_select_log_killer" pkg="rosservice" args="call /lane_select/set_logger_level ros.lane_planner ERROR" />
</launch>